.item-card {
  &.hidden {
    display: none;
  }

  &:not(.hidden) {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: $gray6;
    padding: 8px 14px;
    gap: 4px;
    border: {
      width: 1px;
      style: solid;
      radius: 8px;
    }

    &.input {
      border-color: cadetblue;

      &:focus-within {
        border-color: rgb(109, 250, 255);
        filter: drop-shadow(0 0 0.5rem cadetblue);

        input {
          filter: drop-shadow(0 0 0.25rem cadetblue);
        }
      }
    }

    &.output {
      border-color: darkred;
    }

    > label {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 4px;
      width: 100%;
      height: fit-content;

      > input {
        width: fit-content;
      }
    }

    span.value {
      display: inline-block;

      &:not(.sell):not(.buy) {
        color: $gray4;
        font-style: italic;

        &::after {
          content: "(Base)";
        }
      }

      &.sell {
        color: darkred;

        &::after {
          content: "(Sell)";
        }
      }

      &.buy {
        color: cadetblue;

        &::after {
          content: "(Buy)";
        }
      }
    }
  }
}
