@import "./constants.scss";

:root,
body {
  background-color: #000;
}

main {
  grid-area: main;

  #input,
  #output {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: fit-content;
    height: fit-content;
    flex-wrap: wrap;
    gap: 16px;
    padding: 8px !important;
  }

  padding: 64px 0 !important;
}

* {
  padding: 0;
  margin: 0;
  position: relative;
  outline: none !important;
  color-scheme: dark !important;
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
  image-rendering: optimizeQuality;
  shape-rendering: geometricPrecision;
}

@import "./item-card.scss";
@import "./control.scss";
@import "./ads.scss";
@import "./style-desktop.scss";
