body {
  display: grid;
  grid-template-columns: 1fr calc(100vw - 400px) 1fr;
  grid-template-rows: max-content 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "control control control"
    "ad-start main ad-end";
}
